<h1 class="cover-heading">Cyclogenesis</h1>
<p class="lead">
  Your weather, personalized.
</p>
<p class="lead">
  <%= link_to image_tag("sign_in_twitter.png", alt: "Sign in with Twitter"), twitter_login_path %>
</p>
