<h1 class="cover-heading">Cyclogenesis</h1>
<p class="lead">
  Your weather, personalized.
</p>
<p class="lead">
  <% unless current_user %>
    <%= link_to image_tag("sign_in_twitter.png", alt: "Sign in with Twitter"), twitter_login_path, id: "login" %>
  <% end %>
</p>

<%= render partial: "shared/weather_search" %>
